<html>
	<head></head>
	<body>
		<p><b>SCONTRINO</b></p><br />
		<ul>
			<% for(var i = 0; i < parametroProdotti.length; i++){%>
			<li><%= parametroProdotti.mieiProdotti[i].getNome()%> - <%= parametroProdotti.mieiProdotti[i].getNumero()%></li>
			<%}%>
		</ul>
		<hr width="100px">
		<p>TOTALE	
		<%= var totale = 0;
			for(var i = 0; i < parametroProdotti.length; i++){
				totale = totale + parametroProdotti.mieiProdotti[i].getNumero();
			}%>
		</p>		
		<br />
		<%= for(var i = 0; i < parametroProdotti.length; i++){%>
		<%= var massimo = 0;
			var nomeMax = "";
			if(parametroProdotti.mieiProdotti[i].getNumero() > massimo){
				massimo = parametroProdotti.mieiProdotti[i].getNumero();
				nomeMax = parametroProdotti.mieiProdotti[i].getNome();
			}%>
		<p>il prodotto per cui è richiesto un costo massimo &#233; <%= nomeMax%> con <%=massimo%> euro</p>		
	</body>
</html>